* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}
#waybar {
  background: rgba(0, 0, 0 , 0.3);
  color: #eeeeef;
  font-size: 14px;
  font-family: "FiraCode Nerd Font";
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeef;
}

#workspaces button.active {
  color: #33ccff;
}

#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#network {
  padding: 4px 8px;
  margin: 0px 4px;
}

#window {
  color: #929db1;
}

#tray {
  margin-left: 4px;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio {
  color: #0fb9b1;
  padding-right: 14px;
}

#cpu {
  color: #61afef;
}

#temperature {
  color: #98c379;
}

#memory {
  color: #e5c07b;
}

#network {
  color: #c678dd;
  min-width: 200px;
}

#clock {
  color: #fff;
  margin-left: 8px;
}
