window {
    margin: 0px;
    border: 5px;
    background: linear-gradient(90deg, #33ccff, #00ff99)
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #f2f2f2;
    font-weight: bold;
    background-color: #000000;
   	outline: none;
    margin: 10px;
    margin-bottom: 2px;
}

#input:focus {
    border: 0px solid #33ccff;
    margin-bottom: 0px;
}

#inner-box {
    margin: 0;
    border: 10px solid #000000;
    color: #f2f2f2;
    font-weight: bold;
    background-color: #000000;
}

#outer-box {
    margin: 1px;
    border: none;
    background-color: #000000;
}

#scroll {
    margin-top: 5px;
    border: none;
    margin-bottom: 5px;
}

#img:selected {
    background-color: transparent;
}

#img {
    margin-right: 5px;
}

#text:selected {
    color: #000000;
    margin: 0px 0px;
    border: none;
    background-color: transparent;
}

#entry {
    margin: 0px 0px;
    border: none;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    background: linear-gradient(90deg, #33ccff, #000000);
}
